body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  font-family: 'Pacifico', cursive;
  color: #66BFBF;
  line-height: 1.5;
  -webkit-text-stroke: 2px black;
}

@media (max-width:900px) {
  h2 {
    min-width: 100%;
  }
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
  -webkit-text-stroke: 1.5px black;
  margin-top: 30px;
}


@media (max-width:900px) {
  h3 {
    min-width: 100%;
  }
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
  -webkit-text-stroke: 0.5px black;
}

@media (max-width:900px) {
  p {
    min-width: 100%;

  }
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.CV {
  margin-top: 30px;
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 0px;
  line-height: 0px;
  color: #FFFFFF;
  font-family: Arial;
  width: 139px;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.CV:hover {
  border: solid #2BC4AD 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: -moz-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: -ms-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: -o-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: linear-gradient(to bottom, #30E3CB, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

.top-container {
  background-color: #bbe1fa;
  position: relative;
  padding-top: 50px;
}

.top-middle {
  padding-bottom: 100px;
}

.middle-container {
  margin: 100px 0;
  width: 100%;
}

.intro {
  width: 70%;
  margin: auto;
}

.bottom-container {
  background-color: #bbe1fa;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.profile {
  width: 50%;
  margin: auto;
  text-align: center;
}

@media (max-width:900px) {
  .IT1 {
    min-width: 100%;
    padding-bottom: 100px;

  }
}

.IT1 {
  width: 20%;
  float: left;
  margin-right: 30px;
}

@media (max-width:900px) {
  .IT2 {
    min-width: 100%;
    padding-bottom: 100px;
  }
}

.IT2 {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.interface {
  width: 30%;
  padding-top: 50px;
}

@media (max-width: 900px) {
  .circle-cropped-dark {
    min-width: 100%;
  }
}

.circle-cropped-dark {
  position: relative;
  width: 25%;
  left: auto;
  bottom: auto;
  padding-bottom: 50px;
}

/*.Critically {
  clear: left;
}

.With {
  clear: right;
}*/
.img-fluid {
  max-width: 100%;
  height: auto;
}

.bottom-cloud {
  position: relative;
  width: 30%;
  max-width: auto;
  height: auto;
  left: auto;
  bottom: auto;
}

.top-cloud {
  position: relative;
  width: 30%;
  max-width: auto%;
  height: auto;
  right: auto;
  top: auto;
}

.contact {
  width: 30%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-left: 20px 0;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 0px;
  line-height: 0px;
  color: #FFFFFF;
  font-family: Arial;
  width: 139px;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #2BC4AD 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: -moz-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: -ms-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: -o-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: linear-gradient(to bottom, #30E3CB, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
