* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}





.flex-container {
  background-color: rgba(12, 160, 218, 1);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.flex-container > .flex-item-1 {
  margin: 10px;
  order: -1;
}

.flex-container > .flex-item-2 {
  margin: 10px;
}

.flex-container > .flex-item-3 {
    margin: 10px;
}

.flex-container > .titles-button {
  text-align: center;
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    Arial;
  margin: 10px;
  
}

.left-cloud {
  width: 200px;
}

.right-cloud {
  width: 200px;
}

.interface {
  width: 200px;
}

.Zsolt {
  width:200px;
}